<div class="well page" id="input">
  <h1 class="header"></h1>
  <div class="inputs">
    <h2>Display Ruby code coverage of:</h2>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="repository address">
      <span class="input-group-btn">
        <button class="btn btn-fab btn-raised btn-material-indigo"><i class="mdi-content-send"></i></button>
      </span>
    </div>
  </div>
</div>
